* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    135deg,
    hsla(240, 100%, 50%, 0.734),
    hsla(0, 100%, 50%, 0.784)
  );
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box {
  width: 90%;
  max-width: 500px;
  background: #fff;
  padding: 20px;
  border: 0;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
#password {
  width: 100%;
  border: 0;
  outline: none;
  font-size: 24px;
}
#image {
  width: 40px;
  cursor: pointer;
  display: none;
}
#submitbtn{
  padding: 12px;
  background: hsla(0, 8%, 95%, 0.91);
  cursor: pointer;
  font-size: 38px;
  border: 0;
  outline: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.popup {
  position: absolute;
  transform: scale(0.1);
  top: -170px;
  visibility: hidden;
  width: 350px;
  height: 320px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  transition: transform 0.4s, top 0.4s;
}
.popup img {
  width: 100px;
  height: 100px;
  margin-top: -15%;
  margin-bottom: 20px;
}
.show {
  visibility: visible;
  top: 170px;
  transform: scale(1);
}
#okbtn {
  width: 300px;
  height: 50px;
  font-size: 23px;
  color: #fff;
  background: #6fd649;
  border: 0;
  outline: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 30px;
  cursor: pointer;
}

