@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.body{
    background: #f7edff;
}
.container{
    margin: 50px;
}
.btns{
    font-size: 17px;
    width: 10%;
    background: #333;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
#toast{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.design{
    width: 100%;
    height: 100px;
    background: #fff;
    font-weight: 600;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-size: larger; 
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft{
    100%{
        transform: translateX(0);
    }
}
.design i{
    font-size: 25px;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.design::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: black;
    animation: anim 5s linear forwards;
}
@keyframes anim {
    100%{
        width: 0;
    }
}
