@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body{
    background-color: #001e4d;

}
.box{
    background-color: #fff;
    color: black;
    border-radius: 8px;
    width: 90%;
    max-width: 700px;
    margin: 100px auto 0;
    padding: 1%;

}
.quiz h1{
    padding: 16px 0px;
    border-bottom: 2px solid black;
}
.quiz p{
    font-size: 20px;
    padding: 16px 2px 14px;
}
#answerbuttons{
    margin-bottom: 20px;
}
.btn{
    background: #fff;
    color: #222;
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#prev, #next{
    background: #001e4d;
    color: #fff;
    border-radius: 8px;
    font-weight: 500;
    margin: 35px auto;
    display: block;
    font-size: 22px;
    padding: 4px;
    width: 25%;
}

.correct{
    background-color: rgb(119, 241, 119);
}
.incorrect{
    background-color: rgb(247, 67, 67);
}