@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.cdnfonts.com/css/netflix-font");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Netflix Font", sans-serif;
}
body {
  background-color: black;
}
.main {
  background-image: url(assets/newb.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  /* border: 3px solid red; */
}
.box {
  width: 100%;
  height: 100vh;
  opacity: 0.65;
  background-color: black;
  position: absolute;
  top: 0;
  color: white;
  /* border: 4px dashed green; */
}
nav {
  max-width: 70vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  /* border: 3px dotted blue; */
}
nav img {
  width: 115px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  /* border: 4px solid violet; */
  position: relative;
  font-family: "Martel Sans", sans-serif;
  gap: 23px;
  padding: 30px;
}
.hero > :nth-child(1) {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}
.hero > :nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.hero > :nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.separation {
  height: 8px;
  background-color: hsl(0, 0%, 16%);
}
.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
}
.btn-red {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 23px;
  padding: 11px 24px;
}
.btn-red-sm {
  background-color: red;
  color: white;
}
.main input {
  border-radius: 4px;
  color: white;
  font-size: 15px;
  padding: 15px 110px 15px 18px;
  background-color: rgba(23, 23, 23, 0.7);
  font-weight: 700;
  border: 1px solid rgba(246, 238, 238, 0.7);
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
