*{
    margin: 0px;
    padding: 0px;
}


#clockContainer{
    position: relative;
    height: 30vw;
    width: 40vw;
    margin: auto;
    background: url(img/clock.png) no-repeat;
    background-size: 100%;
}
#dot{
    width: 3%;
    height: 4%;
    background: black;
    border-radius: 12px;
    left: 49%;
    top: 42%;
}
.time{
    position: absolute;
    background: black;
    border-radius: 10px;

}

#hour{
    width: 0.8%;
    height: 19%;
    top: 25.3%;
    left: 50.2%;
   transform-origin: bottom;
}

#minute{
    width: 0.5%;
    height: 25%;
    top: 19.8%;
    left: 50.3%;
    transform-origin: bottom;
}

#second{
    width: 0.3%;
    height: 30%;
    top: 14.5%;
    left: 50.4%;
    transform-origin: bottom;
    
}