@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3c5077;
  position: relative;
}
button {
  width: 200px;
  height: 60px;
  font-size: 25px;
  border: 0;
  outline: none;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
}
.popup {
  position: absolute;
  transform: scale(0.1);
  top: -170px;
  visibility: hidden;
  width: 350px;
  height: 320px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  transition: transform 0.4s, top 0.4s;
}
.show {
  visibility: visible;
  top: 170px;
  transform: scale(1);
}

.popup img {
  width: 100px;
  height: 100px;
  margin-top: -15%;
  margin-bottom: 20px;
}
#okbtn {
  width: 300px;
  height: 50px;
  font-size: 23px;
  color: #fff;
  background: #6fd649;
  border: 0;
  outline: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 30px;
  cursor: pointer;
}
