*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #201f21;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box{
    width: 500px;
    max-width: 90%;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #ccc;
    outline: none;
    color: #fff;
    background: transparent;
}
button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
button img{
    width: 35px;
}
#strength{
    position: absolute;
    bottom: -30px;
    color: #fff;
    font-size: 20px;
    display: none;
}
::placeholder{
    font-size: 22px;
}