*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #191919;
}
.gallery{
    border: 4px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
.container{
    width: 900px;
    border: 3px solid yellow;
    display: flex;
    overflow-x: scroll;
}
.container div{
    border: 4px solid green;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.container div img{
    width: 100%;
    filter: grayscale(100%);
    transition: transform 0.5s;
}
.container::-webkit-scrollbar{
    display: none;
}
#backBtn, #nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}
.container div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}