@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.container{
    width: 100vw;
    height: 100vh;
    background: url(images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.logo{
    width: 120px;
    margin-left: 10%;
    margin-top: 25px;
    cursor: pointer;
}
.box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}
.box h1{
    font-size: 64px;
    font-weight: 600;
}
.word{
    color: tomato;
}
.box button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.box button img{
    width: 15px;
    margin-left: 10px;
}
.launch-time{
    display: flex;
   
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}
.rocket{
    width: 250px;
    position: absolute;
    bottom: 0;
    right: 20%;
    animation: fly 4s linear infinite;
}
@keyframes fly {
    0%{
        opacity: 0;
        bottom: 0;
    }
    100%{
        opacity: 1;
        bottom: 105%;
    }
}