@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.music-player{
    width: 400px;
    padding: 25px 35px;
    background: #ffe0e5;
    border-radius: 4px;
    text-align: center;
}
.music-player nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle{
    width: 50px;
    height: 50px;
    background: #fff;
    /* padding: 20px; */
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle i{
    color: rgb(255, 121, 143);
    font-size: 20px;
}
.image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin: 30px auto;
}
.image img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 10px;
    margin: 35px auto;
    background-color: #f53192;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}
.controls{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.controls button{
    width: 60px;
    height: 60px;
    margin: 20px 0;
    border-radius: 50%;
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(0, 255, 26, 0.22);
    font-size: 25px;
    cursor: pointer;
}
.controls button:nth-child(2){
    transform: scale(1.4);
    background: #f53192;
    color: #fff;
}
